In [1]:
import pandas as pd
import numpy as np

weather = pd.read_csv("weather_features.csv")
energy = pd.read_csv("energy_dataset.csv")

In [2]:
weather.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [3]:
energy.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [4]:
print(energy.shape, "\n")

energy.info()

(35064, 29)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
time                                           35064 non-null object
generation biomass                             35045 non-null float64
generation fossil brown coal/lignite           35046 non-null float64
generation fossil coal-derived gas             35046 non-null float64
generation fossil gas                          35046 non-null float64
generation fossil hard coal                    35046 non-null float64
generation fossil oil                          35045 non-null float64
generation fossil oil shale                    35046 non-null float64
generation fossil peat                         35046 non-null float64
generation geothermal                          35046 non-null float64
generation hydro pumped storage aggregated     0 non-null float64
generation hydro pumped storage consumption    35045 non-null float64
generation hydro run-of-river and poundage     35045 non-null float64
generation hydro water reservoir               35046 non-null float64
generation marine                              35045 non-null float64
generation nuclear                             35047 non-null float64
generation other                               35046 non-null float64
generation other renewable                     35046 non-null float64
generation solar                               35046 non-null float64
generation waste                               35045 non-null float64
generation wind offshore                       35046 non-null float64
generation wind onshore                        35046 non-null float64
forecast solar day ahead                       35064 non-null float64
forecast wind offshore eday ahead              0 non-null float64
forecast wind onshore day ahead                35064 non-null float64
total load forecast                            35064 non-null float64
total load actual                              35028 non-null float64
price day ahead                                35064 non-null float64
price actual                                   35064 non-null float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [5]:
print(weather.shape, "\n")

weather.info()

(178396, 17)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
dt_iso                 178396 non-null object
city_name              178396 non-null object
temp                   178396 non-null float64
temp_min               178396 non-null float64
temp_max               178396 non-null float64
pressure               178396 non-null int64
humidity               178396 non-null int64
wind_speed             178396 non-null int64
wind_deg               178396 non-null int64
rain_1h                178396 non-null float64
rain_3h                178396 non-null float64
snow_3h                178396 non-null float64
clouds_all             178396 non-null int64
weather_id             178396 non-null int64
weather_main           178396 non-null object
weather_description    178396 non-null object
weather_icon           178396 non-null object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

### 1. The maximum and minimum “price actual” of each month and each year

### 2. The maximum and minimum “load actual” of each month and each year.

In [6]:
energy["time"] = energy["time"].apply(lambda x : pd.to_datetime(x[:19] , format= "%Y-%m-%d %H:%M:%S" ) )

In [7]:
min_price = energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%m')])['price actual'].min()
max_price = energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%m')])['price actual'].max()
min_load = energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%m')])['total load actual'].min()
max_load = energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%m')])['total load actual'].max()

price_load = pd.DataFrame([min_price, max_price, min_load, max_load]).T
price_load.columns = ["Min Price actual", "Max Price actual", "Min Load actual", "Max Load actual"]

price_load

           Min Price actual  Max Price actual  Min Load actual  \
time time
2015 01               13.48            100.45          19126.0
     02               16.59            102.62          19149.0
     03               16.81             96.78          18934.0
     04               26.60             82.57          18846.0
     05               27.91             81.74          18865.0
     06               38.53             85.02          18769.0
     07               47.77             89.18          20306.0
     08               22.69             80.37          18616.0
     09               22.08             79.27          19617.0
     10               30.56             79.21          19298.0
     11               18.19             99.32          19494.0
     12               27.45             92.00          18041.0
2016 01               12.32             78.29          18054.0
     02                9.33             68.46          18352.0
     03               12.39             69.59          19300.0
     04               12.31             67.50          19831.0
     05               12.20             52.19          19239.0
     06               27.77             57.57          19688.0
     07               33.63             59.36          20464.0
     08               32.37             56.21          19480.0
     09               36.29             60.79          20002.0
     10               38.88             86.40          19322.0
     11               20.32             83.68          20459.0
     12               41.47             85.65          18380.0
2017 01               47.84            112.81          19252.0
     02               20.79             89.06          19749.0
     03               21.71             68.97          19881.0
     04               14.65             65.52          18758.0
     05               37.82             63.87          19454.0
     06               44.02             67.93          20850.0
     07               42.77             64.62          19810.0
     08               36.51             64.11          20347.0
     09               40.33             68.10          20104.0
     10               33.06            116.80          19350.0
     11               33.39             88.10          21128.0
     12               11.98             99.95          19221.0
2018 01               12.28             83.31          18688.0
     02               39.77             84.55          19192.0
     03               10.66             80.62          19312.0
     04               14.61             83.00          19706.0
     05               25.36             73.53          19726.0
     06               47.84             74.27          19898.0
     07               55.16             78.34          20394.0
     08               53.29             83.32          20591.0
     09               53.61             88.36          20605.0
     10               37.76             91.93          19590.0
     11               40.29             81.78          20214.0
     12               49.25             84.06          18179.0

           Max Load actual
time time
2015 01            40232.0
     02            39042.0
     03            39406.0
     04            40324.0
     05            40234.0
     06            39398.0
     07            39928.0
     08            39213.0
     09            40030.0
     10            39735.0
     11            39029.0
     12            38753.0
2016 01            38071.0
     02            38239.0
     03            36910.0
     04            36619.0
     05            39359.0
     06            40144.0
     07            39355.0
     08            37342.0
     09            37925.0
     10            37494.0
     11            38213.0
     12            37749.0
2017 01            41015.0
     02            37055.0
     03            37866.0
     04            39240.0
     05            38534.0
     06            39017.0
     07            39286.0
     08            36794.0
     09            38645.0
     10            38864.0
     11            38325.0
     12            38861.0
2018 01            39011.0
     02            39378.0
     03            39756.0
     04            36266.0
     05            40068.0
     06            40239.0
     07            40620.0
     08            40693.0
     09            39780.0
     10            38346.0
     11            38496.0
     12            38783.0

### 3. The “temp max” , “temp min”, “weather_main” on the time of maximum and minimum “load actual”

In [8]:
weather["dt_iso"] = weather["dt_iso"].apply(lambda x : pd.to_datetime(x[:19] , format= "%Y-%m-%d %H:%M:%S" ) )

In [12]:
weather_energy = pd.concat([weather, energy], axis = 1)

weather_desc = pd.merge( weather_energy , min_load , on = 'total load actual')
weather_desc[['total load actual', "temp_max", "temp_min", "weather_main"]]

    total load actual    temp_max    temp_min weather_main
0             19126.0  280.946000  280.946000        clear
1             19149.0  277.250000  277.250000       clouds
2             20002.0  288.050000  288.050000       clouds
3             20002.0  296.150000  289.820000       clouds
4             20002.0  300.150000  294.820000       clouds
5             18934.0  288.050000  288.050000       clouds
6             18846.0  282.969344  282.969344       clouds
7             18865.0  291.486000  291.486000       clouds
8             18769.0  285.362000  285.362000        clear
9             20306.0  299.150000  293.710000       clouds
10            20306.0  299.150000  296.480000       clouds
11            20306.0  288.084000  288.084000         rain
12            20591.0  300.150000  295.930000       clouds
13            20591.0  300.150000  295.370000       clouds
14            20591.0  297.150000  288.710000       clouds
15            20591.0  301.150000  301.150000       clouds
16            18616.0  299.820000  295.370000       clouds
17            19617.0  300.930000  297.040000       clouds
18            19298.0  293.150000  293.150000       clouds
19            19494.0  294.150000  294.150000       clouds
20            18041.0  290.150000  287.590000        clear
21            18054.0  291.150000  286.480000       clouds
22            18352.0  291.150000  290.550000        clear
23            19300.0  290.250000  288.350000        clear
24            19831.0  290.370000  287.150000        clear
25            19239.0  291.850000  282.040000        clear
26            19688.0  300.370000  292.950000       clouds
27            20464.0  301.150000  299.820000        clear
28            19480.0  299.820000  298.710000        clear
29            19322.0  288.084000  288.084000         rain
30            20459.0  287.150000  287.150000        clear
31            20850.0  286.150000  286.150000       clouds
32            20850.0  298.150000  298.150000        clear
33            18380.0  280.150000  280.150000        clear
34            19252.0  276.150000  276.150000       clouds
35            19749.0  287.150000  287.150000       clouds
36            19881.0  279.150000  279.150000        clear
37            18758.0  286.150000  286.150000        clear
38            19454.0  290.150000  290.150000       clouds
39            19810.0  296.150000  296.150000        clear
40            20347.0  304.150000  304.150000       clouds
41            20104.0  299.150000  299.150000       clouds
42            19350.0  298.150000  298.150000        clear
43            21128.0  294.150000  294.150000        clear
44            19221.0  292.150000  292.150000        clear
45            18688.0  295.150000  295.150000       clouds
46            19192.0  289.150000  289.150000       clouds
47            19312.0  292.150000  292.150000       clouds
48            19706.0  292.150000  292.150000       clouds
49            19726.0  298.150000  298.150000       clouds
50            19898.0  295.150000  295.150000       clouds
51            20394.0  303.150000  303.150000       clouds
52            20605.0  296.150000  296.150000       clouds
53            19590.0  285.150000  285.150000        clear
54            20214.0  289.150000  289.150000         rain
55            18179.0  285.150000  282.150000       clouds

In [13]:
weather_energy = pd.concat([weather, energy], axis = 1)

weather_desc = pd.merge( weather_energy , max_load , on = 'total load actual')
weather_desc[['total load actual', "temp_max", "temp_min", "weather_main"]]

    total load actual    temp_max    temp_min weather_main
0             40232.0  279.650000  279.650000       clouds
1             36794.0  283.450000  283.450000        clear
2             36794.0  298.150000  298.150000       clouds
3             39042.0  281.550000  281.550000       clouds
4             39406.0  289.550000  289.550000       clouds
5             40324.0  293.320344  293.320344        clear
6             40234.0  300.693000  300.693000        clear
7             39398.0  299.820000  297.590000       clouds
8             39928.0  301.480000  299.150000        clear
9             39213.0  300.150000  296.850000         rain
10            40030.0  299.260000  295.370000       clouds
11            39735.0  290.370000  281.480000        clear
12            39029.0  292.150000  292.150000         rain
13            39029.0  283.150000  283.150000        clear
14            38753.0  275.557500  275.557500       clouds
15            38071.0  277.844500  277.844500        clear
16            38239.0  276.750000  275.150000        clear
17            36910.0  279.850000  279.850000        clear
18            36619.0  294.150000  291.550000       clouds
19            36619.0  294.150000  294.150000       clouds
20            36619.0  283.150000  283.150000        clear
21            36619.0  285.150000  285.150000       clouds
22            39359.0  289.150000  284.820000         rain
23            40144.0  292.950000  287.040000       clouds
24            39355.0  295.550000  289.820000        clear
25            37342.0  306.480000  301.850000       clouds
26            37925.0  304.820000  302.450000        clear
27            37494.0  300.370000  298.350000        clear
28            38213.0  288.150000  288.150000       clouds
29            37749.0  286.150000  286.150000       clouds
30            37866.0  285.150000  285.150000       clouds
31            37866.0  284.150000  284.150000        clear
32            37866.0  296.150000  296.150000       clouds
33            41015.0  288.150000  288.150000        clear
34            37055.0  290.150000  290.150000       clouds
35            37055.0  292.150000  292.150000       clouds
36            37055.0  300.150000  300.150000       clouds
37            38496.0  294.150000  294.150000       clouds
38            38496.0  285.150000  285.150000        clear
39            39240.0  293.150000  293.150000       clouds
40            38534.0  288.150000  288.150000        clear
41            38534.0  299.150000  299.150000       clouds
42            39017.0  296.150000  296.150000       clouds
43            39286.0  298.150000  298.150000        clear
44            38645.0  293.150000  293.150000         rain
45            38864.0  291.150000  291.150000       clouds
46            38325.0  281.150000  281.150000        clear
47            38861.0  276.150000  276.150000        clear
48            39011.0  277.150000  277.150000        clear
49            39378.0  282.150000  282.150000       clouds
50            39756.0  285.150000  285.150000       clouds
51            36266.0  288.150000  288.150000       clouds
52            40068.0  285.150000  285.150000        clear
53            40239.0  290.150000  290.150000        clear
54            40620.0  296.150000  296.150000       clouds
55            40693.0  297.150000  297.150000       clouds
56            39780.0  302.150000  302.150000       clouds
57            38346.0  290.150000  290.150000        clear
58            38783.0  290.150000  289.150000        clear

### 4. Maximum and minimum “generation of wind on shore” each year and “wind speed” and “wind degree” during that time

In [26]:
min_wind = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y')])['generation wind onshore'].min())
max_wind = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y')])['generation wind onshore'].max())

In [27]:
min_wind

      generation wind onshore
time
2015                    234.0
2016                    251.0
2017                      0.0
2018                    243.0

In [28]:
max_wind

      generation wind onshore
time
2015                  17436.0
2016                  17321.0
2017                  15564.0
2018                  16063.0

In [30]:
gen_min_wind = pd.merge( weather_energy , min_wind , on = 'generation wind onshore')
gen_min_wind[['generation wind onshore', "wind_speed", "wind_deg"]]

   generation wind onshore  wind_speed  wind_deg
0                    234.0           1       290
1                    251.0           0       338
2                      0.0           3       280
3                      0.0           2       280
4                      0.0           0         0
5                    243.0           3        90

In [31]:
gen_min_wind = pd.merge( weather_energy , max_wind , on = 'generation wind onshore')
gen_min_wind[['generation wind onshore', "wind_speed", "wind_deg"]]

   generation wind onshore  wind_speed  wind_deg
0                  17436.0          12       315
1                  17321.0           1       324
2                  15564.0           1         0
3                  16063.0           4       260