In [1]:
import pandas as pd
import numpy as np

weather = pd.read_csv("weather_features.csv")
energy = pd.read_csv("energy_dataset.csv")

In [3]:
weather.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [4]:
energy.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [8]:
print(energy.shape, "\n")

energy.info()

(35064, 29)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
time                                           35064 non-null object
generation biomass                             35045 non-null float64
generation fossil brown coal/lignite           35046 non-null float64
generation fossil coal-derived gas             35046 non-null float64
generation fossil gas                          35046 non-null float64
generation fossil hard coal                    35046 non-null float64
generation fossil oil                          35045 non-null float64
generation fossil oil shale                    35046 non-null float64
generation fossil peat                         35046 non-null float64
generation geothermal                          35046 non-null float64
generation hydro pumped storage aggregated     0 non-null float64
generation hydro pumped storage consumption    35045 non-null float64
generation hydro run-of-river and poundage     35045 non-null float64
generation hydro water reservoir               35046 non-null float64
generation marine                              35045 non-null float64
generation nuclear                             35047 non-null float64
generation other                               35046 non-null float64
generation other renewable                     35046 non-null float64
generation solar                               35046 non-null float64
generation waste                               35045 non-null float64
generation wind offshore                       35046 non-null float64
generation wind onshore                        35046 non-null float64
forecast solar day ahead                       35064 non-null float64
forecast wind offshore eday ahead              0 non-null float64
forecast wind onshore day ahead                35064 non-null float64
total load forecast                            35064 non-null float64
total load actual                              35028 non-null float64
price day ahead                                35064 non-null float64
price actual                                   35064 non-null float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [7]:
print(weather.shape, "\n")

weather.info()

(178396, 17)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
dt_iso                 178396 non-null object
city_name              178396 non-null object
temp                   178396 non-null float64
temp_min               178396 non-null float64
temp_max               178396 non-null float64
pressure               178396 non-null int64
humidity               178396 non-null int64
wind_speed             178396 non-null int64
wind_deg               178396 non-null int64
rain_1h                178396 non-null float64
rain_3h                178396 non-null float64
snow_3h                178396 non-null float64
clouds_all             178396 non-null int64
weather_id             178396 non-null int64
weather_main           178396 non-null object
weather_description    178396 non-null object
weather_icon           178396 non-null object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

## 1. The maximum and minimum “price actual” of each day and each year.

In [9]:
energy["time"] = energy["time"].apply(lambda x : pd.to_datetime(x[:19] , format= "%Y-%m-%d %H:%M:%S" ) )

In [10]:
max_price = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['price actual'].max())

max_price

           price actual
time time
2015 01           84.80
     02           96.78
     03           85.73
     04           86.87
     05           90.97
     06           89.34
     07          100.45
     08           94.11
     09          102.62
     10           91.25
     11           96.62
     12           94.41
     13           88.57
     14           97.95
     15           86.92
     16           89.11
     17           87.83
     18           82.82
     19           95.95
     20           92.88
     21           89.12
     22           89.16
     23           99.32
     24           87.69
     25           82.32
     26           89.51
     27           88.99
     28           89.14
     29           88.13
     30           85.82
...                 ...
2018 02           87.21
     03           89.53
     04           91.93
     05           86.70
     06           84.02
     07           83.31
     08           85.10
     09           84.42
     10           88.36
     11           85.84
     12           86.87
     13           86.96
     14           85.64
     15           86.45
     16           85.59
     17           87.14
     18           87.36
     19           85.98
     20           86.49
     21           84.10
     22           85.16
     23           83.53
     24           82.64
     25           87.24
     26           85.41
     27           87.39
     28           85.88
     29           83.80
     30           82.40
     31           86.80

[124 rows x 1 columns]

In [11]:
min_price = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['price actual'].min())

min_price

           price actual
time time
2015 01           16.59
     02           27.27
     03           30.28
     04           29.08
     05           16.81
     06           30.56
     07           37.21
     08           36.38
     09           34.67
     10           47.77
     11           47.97
     12           29.87
     13           23.64
     14           36.34
     15           24.74
     16           22.08
     17           30.42
     18           30.03
     19           39.86
     20           27.45
     21           18.19
     22           18.73
     23           17.69
     24           17.19
     25           23.69
     26           32.45
     27           29.84
     28           28.54
     29           25.48
     30           14.70
...                 ...
2018 02           17.80
     03           12.40
     04           12.28
     05           13.62
     06           35.31
     07           25.47
     08           32.88
     09           38.96
     10           32.16
     11           11.69
     12           14.28
     13           25.36
     14           29.42
     15           13.54
     16           38.55
     17           40.18
     18           29.18
     19           45.42
     20           37.69
     21           28.18
     22           41.89
     23           43.22
     24           19.77
     25           42.97
     26           38.38
     27           42.69
     28           38.95
     29           14.61
     30           12.15
     31           10.66

[124 rows x 1 columns]

## 2. The maximum and minimum “load actual” of each day and each year

In [12]:
max_load = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['total load actual'].max())

max_load

           total load actual
time time
2015 01              38551.0
     02              40324.0
     03              35412.0
     04              32995.0
     05              33010.0
     06              34489.0
     07              39300.0
     08              36506.0
     09              35524.0
     10              32913.0
     11              33253.0
     12              36704.0
     13              37955.0
     14              38863.0
     15              38974.0
     16              38762.0
     17              38764.0
     18              37295.0
     19              39304.0
     20              40232.0
     21              40122.0
     22              39722.0
     23              38945.0
     24              38870.0
     25              37158.0
     26              38869.0
     27              38718.0
     28              38240.0
     29              38622.0
     30              37259.0
...                      ...
2018 02              40693.0
     03              38355.0
     04              35849.0
     05              32543.0
     06              32490.0
     07              37665.0
     08              39756.0
     09              36967.0
     10              33243.0
     11              35760.0
     12              36663.0
     13              39254.0
     14              38357.0
     15              39011.0
     16              38338.0
     17              37595.0
     18              37653.0
     19              37259.0
     20              38575.0
     21              38134.0
     22              37902.0
     23              37710.0
     24              37175.0
     25              36768.0
     26              38224.0
     27              39280.0
     28              38127.0
     29              37034.0
     30              37348.0
     31              37134.0

[124 rows x 1 columns]

In [13]:
min_load = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['total load actual'].min())

min_load

           total load actual
time time
2015 01              19500.0
     02              22066.0
     03              20549.0
     04              18769.0
     05              19149.0
     06              20418.0
     07              21697.0
     08              20524.0
     09              19809.0
     10              19547.0
     11              19126.0
     12              20926.0
     13              20028.0
     14              19525.0
     15              19494.0
     16              19730.0
     17              19721.0
     18              19539.0
     19              19655.0
     20              19617.0
     21              20295.0
     22              20048.0
     23              20704.0
     24              19834.0
     25              18041.0
     26              18539.0
     27              19248.0
     28              19570.0
     29              20239.0
     30              19870.0
...                      ...
2018 02              22508.0
     03              21240.0
     04              20235.0
     05              19898.0
     06              19312.0
     07              21095.0
     08              22115.0
     09              20831.0
     10              20394.0
     11              20454.0
     12              20928.0
     13              19803.0
     14              19912.0
     15              20618.0
     16              21024.0
     17              20438.0
     18              20214.0
     19              20591.0
     20              19746.0
     21              19685.0
     22              19706.0
     23              20397.0
     24              19894.0
     25              18179.0
     26              18522.0
     27              19726.0
     28              19590.0
     29              19893.0
     30              20057.0
     31              20006.0

[124 rows x 1 columns]

## 3. The “temp max” and “weather description” during maximum and minimum “load actual”

In [14]:
weather["dt_iso"] = weather["dt_iso"].apply(lambda x : pd.to_datetime(x[:19] , format= "%Y-%m-%d %H:%M:%S" ) )

weather_energy = pd.concat([weather, energy], axis = 1)

weather_energy.shape

(178396, 46)

In [15]:
# weather_energy[ weather_energy["total load actual"] == min_load]["temp_max"]["weather_description"]

weather_desc = pd.merge( weather_energy , min_load , on = 'total load actual')
weather_desc[['total load actual', "temp_max", "weather_description"]]

     total load actual    temp_max weather_description
0              22066.0  270.277000        sky is clear
1              22066.0  302.150000    scattered clouds
2              22066.0  295.930000          few clouds
3              22066.0  294.150000        sky is clear
4              21171.0  273.142000        sky is clear
5              21171.0  283.150000        sky is clear
6              21171.0  292.150000        sky is clear
7              19126.0  280.946000        sky is clear
8              19500.0  285.750000        sky is clear
9              19500.0  279.250000        sky is clear
10             22121.0  284.150000        sky is clear
11             22121.0  289.150000     overcast clouds
12             22121.0  288.150000        sky is clear
13             19730.0  279.550000        sky is clear
14             19730.0  297.150000          few clouds
15             19149.0  277.250000    scattered clouds
16             20618.0  276.850000        sky is clear
17             20618.0  291.150000        sky is clear
18             20002.0  288.050000    scattered clouds
19             20002.0  296.150000          few clouds
20             20002.0  300.150000    scattered clouds
21             19721.0  279.458687        sky is clear
22             19721.0  284.352000        sky is clear
23             19547.0  278.405344          few clouds
24             19547.0  292.150000          few clouds
25             19655.0  283.928000        sky is clear
26             19655.0  293.150000        sky is clear
27             22508.0  295.208687          few clouds
28             22508.0  291.150000    scattered clouds
29             19834.0  284.204000    scattered clouds
..                 ...         ...                 ...
157            20392.0  298.150000          few clouds
158            20104.0  299.150000          few clouds
159            19824.0  296.150000    scattered clouds
160            19350.0  298.150000        sky is clear
161            19996.0  287.150000        sky is clear
162            19221.0  292.150000        sky is clear
163            19402.0  288.150000       broken clouds
164            19471.0  293.150000       broken clouds
165            18688.0  295.150000          few clouds
166            20235.0  289.150000        sky is clear
167            20235.0  296.150000        sky is clear
168            19312.0  292.150000          few clouds
169            19706.0  292.150000          few clouds
170            19893.0  295.150000          few clouds
171            20057.0  297.150000          few clouds
172            19746.0  296.150000          few clouds
173            19726.0  298.150000          few clouds
174            19898.0  295.150000       broken clouds
175            20438.0  300.150000          few clouds
176            20394.0  303.150000          few clouds
177            21095.0  308.150000          few clouds
178            20831.0  300.150000    scattered clouds
179            21024.0  302.150000        sky is clear
180            19685.0  288.150000          few clouds
181            19590.0  285.150000        sky is clear
182            20214.0  289.150000       moderate rain
183            20397.0  287.150000          few clouds
184            18179.0  285.150000          few clouds
185            18522.0  286.150000        sky is clear
186            20006.0  285.150000        sky is clear

[187 rows x 3 columns]

In [16]:
weather_desc = pd.merge( weather_energy , max_load , on = 'total load actual')
weather_desc[['total load actual', "temp_max", "weather_description"]]

     total load actual    temp_max weather_description
0              35524.0  287.750000        sky is clear
1              35524.0  298.150000          few clouds
2              36704.0  282.850000          few clouds
3              36704.0  284.650000        sky is clear
4              37604.0  289.050000        sky is clear
5              37604.0  282.150000        sky is clear
6              37604.0  296.150000        sky is clear
7              37604.0  282.150000       broken clouds
8              39304.0  281.191000          light rain
9              40232.0  279.650000       broken clouds
10             40122.0  280.050000     overcast clouds
11             39722.0  282.250000        sky is clear
12             39722.0  298.150000          few clouds
13             38622.0  282.250000        sky is clear
14             38622.0  300.150000     overcast clouds
15             38869.0  280.100000          few clouds
16             38869.0  284.150000       broken clouds
17             38718.0  287.850000     overcast clouds
18             38240.0  282.150000        sky is clear
19             36732.0  282.650000        sky is clear
20             36732.0  295.150000          few clouds
21             36732.0  289.150000        sky is clear
22             37295.0  283.350000        sky is clear
23             37158.0  287.929000    scattered clouds
24             33253.0  288.996000        sky is clear
25             33253.0  293.150000          light rain
26             40324.0  293.320344        sky is clear
27             35412.0  303.750000          few clouds
28             35412.0  297.150000          few clouds
29             32913.0  295.669000        sky is clear
..                 ...         ...                 ...
176            37459.0  278.150000        sky is clear
177            38325.0  281.150000        sky is clear
178            38236.0  276.150000        sky is clear
179            37710.0  290.150000    scattered clouds
180            37710.0  291.150000          few clouds
181            38355.0  283.150000        sky is clear
182            39011.0  277.150000        sky is clear
183            38338.0  281.150000          few clouds
184            37595.0  277.150000          few clouds
185            37653.0  282.150000        sky is clear
186            37348.0  284.150000          light rain
187            38357.0  283.150000    scattered clouds
188            38357.0  287.150000        sky is clear
189            39254.0  276.150000        sky is clear
190            37902.0  282.150000        sky is clear
191            39280.0  278.150000        sky is clear
192            38127.0  279.150000        sky is clear
193            39756.0  285.150000          few clouds
194            36967.0  286.150000          few clouds
195            33243.0  283.150000          light rain
196            33243.0  282.150000        sky is clear
197            38575.0  282.150000          few clouds
198            38134.0  281.150000        sky is clear
199            36663.0  292.150000          few clouds
200            36663.0  296.150000        sky is clear
201            37175.0  300.150000    scattered clouds
202            40693.0  297.150000          few clouds
203            37034.0  300.150000       broken clouds
204            39478.0  298.150000          few clouds
205            32490.0  285.150000        sky is clear

[206 rows x 3 columns]

In [ ]:
weather_energy.info()

##  4. Maximum and minimum “generation of wind on shore” of each month, each year and “wind speed” and “wind degree” during that time

In [17]:
min_wind = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['generation wind onshore'].min())

gen_min_wind = pd.merge( weather_energy , min_wind , on = 'generation wind onshore')
gen_min_wind[['generation wind onshore', "wind_speed", "wind_deg"]]

     generation wind onshore  wind_speed  wind_deg
0                      470.0           1       284
1                      470.0           2       310
2                      470.0           1       334
3                      470.0           5        90
4                      470.0           6        90
5                      933.0           1       254
6                      933.0           1       254
7                      933.0           1       254
8                      933.0           5        90
9                      933.0           5        90
10                     933.0           5        90
11                     933.0           1       219
12                     933.0           1       219
13                     933.0           1       219
14                     933.0           1        10
15                     933.0           1        10
16                     933.0           1        10
17                     933.0           2       100
18                     933.0           2       100
19                     933.0           2       100
20                     905.0           4       197
21                     905.0           1         0
22                    1051.0           1       147
23                    1051.0           1         0
24                    1051.0           1       340
25                    1713.0           3       310
26                    1713.0           0       352
27                    1713.0           1       303
28                    1713.0           1         0
29                    1713.0           2       285
..                       ...         ...       ...
291                    559.0           6       120
292                    559.0           1       290
293                    604.0           1       120
294                    604.0           1       280
295                    495.0           1       250
296                    495.0           5        70
297                    532.0           4       270
298                      0.0           3       280
299                      0.0           3       280
300                      0.0           2       280
301                      0.0           2       280
302                      0.0           0         0
303                      0.0           0         0
304                    488.0          10       300
305                    488.0           5        80
306                    338.0           4        90
307                    513.0           4        80
308                    650.0           3        70
309                    650.0           5        70
310                    800.0           1        27
311                    800.0           2        70
312                    800.0           2       290
313                    566.0           5       100
314                    901.0           7        60
315                    243.0           3        90
316                    440.0           3        50
317                    413.0           3       150
318                    515.0           1       300
319                    259.0           1         0
320                    460.0           5        70

[321 rows x 3 columns]

In [18]:
max_wind = pd.DataFrame(energy.groupby([energy['time'].dt.strftime('%Y'), energy['time'].dt.strftime('%d')])['generation wind onshore'].max())

gen_max_wind = pd.merge( weather_energy , max_wind , on = 'generation wind onshore')
gen_max_wind[['generation wind onshore', "wind_speed", "wind_deg"]]

     generation wind onshore  wind_speed  wind_deg
0                    12806.0           3        24
1                    12417.0           8       285
2                    12417.0          22       304
3                    12417.0           1       268
4                    12417.0           5        70
5                    17436.0          12       315
6                    16909.0          16       276
7                    12564.0          19       298
8                    12564.0           0         0
9                    12564.0           1         0
10                   15451.0           9       290
11                   14680.0          11       358
12                   12394.0           9       301
13                   12394.0           3        50
14                   12394.0           4       310
15                   14558.0           5        35
16                   14558.0           5       310
17                   14558.0           0         0
18                   12076.0           1         2
19                   12076.0           1        34
20                   12797.0          11       291
21                   12797.0           3       140
22                   12797.0           3        90
23                   16045.0          12       321
24                   15102.0           4       289
25                   12538.0           9       307
26                   12538.0           1       310
27                   13095.0           7       338
28                   13095.0           2       270
29                   12093.0           7       348
..                       ...         ...       ...
203                  12066.0           2       260
204                  14863.0           1         0
205                  14881.0           1       320
206                  14629.0           3       300
207                  16063.0           4       260
208                  11441.0           5       280
209                  12320.0           3       320
210                  12320.0           7       270
211                  11551.0           3       290
212                  10478.0           0         0
213                  14750.0          10       250
214                  13743.0          10       260
215                  14314.0           4       250
216                  14971.0           4       250
217                  14971.0           5        80
218                  13254.0           2       240
219                  14690.0           4       260
220                  15757.0           2       150
221                  11142.0           2       280
222                  12755.0           1       280
223                  14370.0           2        40
224                   8578.0           0         0
225                   8578.0           1       280
226                  13505.0           6       120
227                  13505.0           2       130
228                   8210.0           2       320
229                  13065.0           2        70
230                  12815.0           3       230
231                  14316.0           2       280
232                  14305.0           4       270

[233 rows x 3 columns]

## 5. What weather measurements, and cities influence most the electrical demand, prices, generation capacity?